In [1]:
fname = input ('isikan  nama awal')
mname = input ('isikan nama tengah')
lname = input ('isikan nama akhir')

print ('selamat datang',fname,mname,lname)

isikan  nama awalsayid
isikan nama tengahali
isikan nama akhirakbar
selamat datang sayid ali akbar

In [4]:
bill1 = input('isikan bilangan 1')
bill2 = input('isikan bilangan 2')
print (type(bill1))
hasil = int(bill1) +int(bill2)
print ('hasil penjumlahan',hasil)

isikan bilangan 12
isikan bilangan 23
<class 'str'>
hasil penjumlahan 5

In [8]:
#luas => p * l
#keliling => 2 * (p+l)

p = input ('isikan panjang persegi')
l = input ('isikan lebar persegi')

luas= int(p) * int(l)
keliling = 2* (int(p)+ int(l))

print('luas persegi panjang',luas)
print('keliling persegi panjang',keliling)

isikan panjang persegi12
isikan lebar persegi4
luas persegi panjang 48
keliling persegi panjang 32

In [16]:
print ("januari","febuari","maret","april",sep="-"*1)

januari-febuari-maret-april

In [20]:
number1 = 7
number2 = 10

#hasil perkalian dari 7 dengan 10 adalah 70
print ("perkalian {} dengan {} adalah {} ".format(number1,number2,number1 *number2))

perkalian 7 dengan 10 adalah 70

In [22]:
first_name ="sayid"
middle_name ="ali"
last_name ="akbar"
print ("urutan huruf {}{}{}".format (first_name,middle_name,last_name))

urutan huruf sayidaliakbar

In [31]:
#sekarang tanggal 20 bulan maret tahun 2024
print ("sekarang tanggal {tanggal} bulan {bulan} dan tahun{tahun})".
       format(tanggal =20,bulan ="maret",tahun =2024))

sekarang tanggal 20 bulan maret dan tahun2024)

In [35]:
kampus = "Universitas Nusa Putra"
print ("huruf pertamana adalah:",kampus [0])
print ("huruf terakhir adalah:",kampus [-1])
print ("huruf range 0-10",kampus [0:11])
print (kampus[-5:])
print (kampus[12:])
#reverse string 
print(kampus[::-1])

huruf pertamana adalah: U
huruf terakhir adalah: a
huruf range 0-10 Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [36]:
#split => string -> list
kota= "jakarta sukabumi malang bandung bali paris impeldown"
list_kota =kota.split()
print(list_kota)
print(list_kota[0])
#join => list -> string
join_kota ="@".join(list_kota)
print(join_kota)

['jakarta', 'sukabumi', 'malang', 'bandung', 'bali', 'paris', 'impeldown']
jakarta
jakarta@sukabumi@malang@bandung@bali@paris@impeldown

isikan nama anda:sayid ali
isikan tangal lahir:28 agustus 2005

TypeError: 'tuple' object is not callable